#about {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

#about h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 15px;
}

#about h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  margin-top: 20px;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color:#a8b2d1;
}

#about strong {
  color: #ccd6f6;
}

@media (max-width: 768px) {
  #about {
    padding: 30px;
  }

  #about h2 {
    font-size: 1.8rem;
  }

  #about h3 {
    font-size: 1.3rem;
  }

  #about p {
    font-size: 1rem;
  }
}

/* #about:hover {
 background-color: #a8b2d120;
 box-shadow: inset -2px 3px 4px 0px #a8b2d142;
} */