.projects-container {
  padding: 20px;
}

.projects-container h2 {
  color: #64ffda;
}

.project-card {
  background: #112240;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.project-card:hover {
  background-color: #a8b2d120;
  box-shadow: inset -2px 3px 4px 0px #a8b2d142;
  transform: translateY(-5px);
}

.project-card h3 {
  color: #ccd6f6;
}

.project-details {
  margin-top: 10px;
  color: #ccd6f6;
}

.project-details li::marker{
  color: #64ffda;
}

.live-link {
  color: #4fa3d1;
  text-decoration: none;
  font-size: 20px;
}

.live-link:hover {
  text-decoration: underline;
  color: #68c3e9;
}
