.skills {
  padding: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-category {
  padding: 15px;
  border-radius: 5px;
  flex: 1;
  min-width: 250px;
  color: #a8b2d1;
  transition: transform 0.2s ease;
}

.skill-category:hover {
  background-color: #a8b2d120;
  box-shadow: inset -2px 3px 4px 0px #a8b2d142;
  transform: translateY(-5px);
}

.skills h2 {
  color: #64ffda;
}

.skill-category h3 {
  color: #ccd6f6;
}
